<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>en_GB</key>
		<string>m0sPwUsMPLBRcpY-avFqOA</string>
	</dict>
	<dict>
		<key>sv_SE</key>
		<string>3KrA4uZE9p0O13GhSWEp1g</string>
	</dict>
	<dict>
		<key>da_DK</key>
		<string>0Jc7NATGimQnQGXkN8t5Yw</string>
	</dict>
	<dict>
		<key>nb_NO</key>
		<string>YQZzJCn310h_JkAjKPRuVQ</string>
	</dict>
	<dict>
		<key>fi_FI</key>
		<string>AInqB-YA_YZgMZDqXWHsWg</string>
	</dict>
	<dict>
		<key>es_ES</key>
		<string>XJq8MPl_VAcyhKWcBXUdqg</string>
	</dict>
	<dict>
		<key>de_DE</key>
		<string>-Fz01jWGZ6ZimyRS8Qxdxw</string>
	</dict>
	<dict>
		<key>nl_NL</key>
		<string>f8S2zW1S_ESMKnlcSGuDmA</string>
	</dict>
	<dict>
		<key>pt_BR</key>
		<string>vdMwO1n7MLzgPrbnT_AMsA</string>
	</dict>
	<dict>
		<key>es_MX</key>
		<string>KXXiRkhUBsDLJVWzOj9HwA</string>
	</dict>
	<dict>
		<key>fr_FR</key>
		<string>vKVpZTCOCV2bBtwMH_q59A</string>
	</dict>
</array>
</plist>
