<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>en_GB</key>
		<string>t0ZioCMuf7eUCebkphVZTA</string>
	</dict>
	<dict>
		<key>sv_SE</key>
		<string>ddWpMWRLWI6e9rfdHi4NDg</string>
	</dict>
	<dict>
		<key>da_DK</key>
		<string>FuzTWFliZAKQMReOg2BigQ</string>
	</dict>
	<dict>
		<key>nb_NO</key>
		<string>hS8nRM1IPchcLwwXtH3CWA</string>
	</dict>
	<dict>
		<key>fi_FI</key>
		<string>WRBrBzYshG3YpjpiO2tLfg</string>
	</dict>
	<dict>
		<key>es_ES</key>
		<string>jKB-I9zaVK58QrGSeB32cw</string>
	</dict>
	<dict>
		<key>de_DE</key>
		<string>rjUlIc-8H4Q50a9niq6ZyQ</string>
	</dict>
	<dict>
		<key>nl_NL</key>
		<string>pYnf_JBXO7QSTWRObXyQWA</string>
	</dict>
	<dict>
		<key>pt_BR</key>
		<string>aZkupce9yKb2T-cRHzJSqg</string>
	</dict>
	<dict>
		<key>es_MX</key>
		<string>iefNlh7c8_mmmDu5JuGk6w</string>
	</dict>
	<dict>
		<key>fr_FR</key>
		<string>e6BAWmKd8dtO_cwvND59fg</string>
	</dict>
	<dict>
		<key>it_IT</key>
		<string>qO5JautyUXtZwArT_DwCbA</string>
	</dict>
</array>
</plist>
