<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>en_GB</key>
		<string>-E8K06_wRbc5w4UOmhb4gQ</string>
	</dict>
	<dict>
		<key>sv_SE</key>
		<string>rB2hecK5JNdP25tDGNpJhQ</string>
	</dict>
	<dict>
		<key>da_DK</key>
		<string>Qt9X-Mhcd5BJWdJCDL8v3A</string>
	</dict>
	<dict>
		<key>nb_NO</key>
		<string>2jUsEwGwsXvzCb2c7RYeCQ</string>
	</dict>
	<dict>
		<key>fi_FI</key>
		<string>BCS4YdkAJo0l2-xY6MVxqA</string>
	</dict>
	<dict>
		<key>es_ES</key>
		<string>EwwPUmQ8ua3kzZUkYC2ipA</string>
	</dict>
	<dict>
		<key>de_DE</key>
		<string>wugCi_d2Paa8-1daZP6b3A</string>
	</dict>
	<dict>
		<key>nl_NL</key>
		<string>b8zUZYsGzxMWJbF-kWad-Q</string>
	</dict>
	<dict>
		<key>pt_BR</key>
		<string>w-IhpejIVaJXaweIkT5J-g</string>
	</dict>
	<dict>
		<key>es_MX</key>
		<string>lP9caxVkFT2g2AmsbD9iSg</string>
	</dict>
	<dict>
		<key>fr_FR</key>
		<string>zyhGwAjlUslik2S9Cdyjrw</string>
	</dict>
	<dict>
		<key>it_IT</key>
		<string>xe8a0tj5SRiDIobR7SJOvg</string>
	</dict>
</array>
</plist>
