<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>en_GB</key>
		<string>GEYb40yUlmV1bCpCZLofbw</string>
	</dict>
	<dict>
		<key>sv_SE</key>
		<string>XLWwsBSSf-dz7Mxcxj7ayQ</string>
	</dict>
	<dict>
		<key>da_DK</key>
		<string>rXiF7gYm2m3zg0LMx54zDw</string>
	</dict>
	<dict>
		<key>nb_NO</key>
		<string>YO18fsWRZjk4f8USjwMf3g</string>
	</dict>
	<dict>
		<key>fi_FI</key>
		<string>eR68kCKlKv8YcdXUSrKoWw</string>
	</dict>
	<dict>
		<key>es_ES</key>
		<string>3Qt2N5yfkcy3tCBGRHeS1Q</string>
	</dict>
	<dict>
		<key>de_DE</key>
		<string>w8s1Ar0TJrk3MUgeeK617g</string>
	</dict>
	<dict>
		<key>nl_NL</key>
		<string>UxGVwT6jo5VvL9f06ej7XA</string>
	</dict>
	<dict>
		<key>pt_BR</key>
		<string>HA7bnBNflkYXnZc7fkv-SQ</string>
	</dict>
	<dict>
		<key>es_MX</key>
		<string>4ETAwPJ4Z1l9d7wbhWWSLQ</string>
	</dict>
	<dict>
		<key>fr_FR</key>
		<string>_TJNRfqJZfC-MG70QhZQpw</string>
	</dict>
	<dict>
		<key>it_IT</key>
		<string>L5VS0GP8ZU9pg9WWFFcztw</string>
	</dict>
</array>
</plist>
