<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>en_GB</key>
		<string>oXdpQ37316RnauZC76_VLg</string>
	</dict>
	<dict>
		<key>sv_SE</key>
		<string>pN0WpGBy8cwobhnfrtCkMg</string>
	</dict>
	<dict>
		<key>da_DK</key>
		<string>HFWYF6wXGz1xgFSUF7ScdQ</string>
	</dict>
	<dict>
		<key>nb_NO</key>
		<string>wZXlj0iZ3_pdTdT9CKouVA</string>
	</dict>
	<dict>
		<key>fi_FI</key>
		<string>azpr_Wjh7QSnL_esAT_kbw</string>
	</dict>
	<dict>
		<key>es_ES</key>
		<string>11troC-e7WFRQ2a0ndbmsg</string>
	</dict>
	<dict>
		<key>de_DE</key>
		<string>FxUKVVZYTcpZkt-isGCuzw</string>
	</dict>
	<dict>
		<key>nl_NL</key>
		<string>4mB3XvQ7davKFEO8fQ5nKg</string>
	</dict>
	<dict>
		<key>pt_BR</key>
		<string>CeNR8NYJanIWiz3A9_19TA</string>
	</dict>
	<dict>
		<key>es_MX</key>
		<string>YpZoDnoG62lg4S7pvHFSfw</string>
	</dict>
	<dict>
		<key>fr_FR</key>
		<string>MjOIhrznnoE-eFwJTiqHEA</string>
	</dict>
	<dict>
		<key>it_IT</key>
		<string>UJJOnbey6XoQActXFoYnRA</string>
	</dict>
</array>
</plist>
