<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>en_GB</key>
		<string>FB1EVMzCOn_nzESD9XJYyw</string>
	</dict>
	<dict>
		<key>sv_SE</key>
		<string>wlC-7YR0pk_tR9OBuGS9KQ</string>
	</dict>
	<dict>
		<key>da_DK</key>
		<string>iAI8Aye2ZK_B_qNklfD1_A</string>
	</dict>
	<dict>
		<key>nb_NO</key>
		<string>lSPVk_vCXKyohSRD2SBLjQ</string>
	</dict>
	<dict>
		<key>fi_FI</key>
		<string>gfQsph9gYk8QMv7iWcUf4Q</string>
	</dict>
	<dict>
		<key>es_ES</key>
		<string>XI9Yr22acD2tMiLYGBkqCg</string>
	</dict>
	<dict>
		<key>de_DE</key>
		<string>Bq8z-UiJiWIKVjthcrexMg</string>
	</dict>
	<dict>
		<key>nl_NL</key>
		<string>eh7xxm3EQtQelLYnDf9vPg</string>
	</dict>
	<dict>
		<key>pt_BR</key>
		<string>3xgULHzpdlwhdG_K6PUMxA</string>
	</dict>
	<dict>
		<key>es_MX</key>
		<string>6Hqlrg13cVIWeza-GhYkew</string>
	</dict>
	<dict>
		<key>fr_FR</key>
		<string>7tJc184UzCXDGQdZwdt9Sw</string>
	</dict>
	<dict>
		<key>it_IT</key>
		<string>60gQMxBJSpKFXhRF1MDASA</string>
	</dict>
</array>
</plist>
