<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>en_GB</key>
		<string>bjN-aC6gIN97fSjUyVkJXw</string>
	</dict>
	<dict>
		<key>sv_SE</key>
		<string>1_5Ca7bMPnAwLneZSyxx1Q</string>
	</dict>
	<dict>
		<key>da_DK</key>
		<string>TZSZdayCbfRYnEWAmX-WJg</string>
	</dict>
	<dict>
		<key>nb_NO</key>
		<string>AkjvPpQEpq7r3QA0fHPGpw</string>
	</dict>
	<dict>
		<key>fi_FI</key>
		<string>UukcybNDG5LRkqJkmRNjUA</string>
	</dict>
	<dict>
		<key>es_ES</key>
		<string>AHHuK2sqES4dBdD7mJ8utg</string>
	</dict>
	<dict>
		<key>de_DE</key>
		<string>x9kRXiA1C36bmmfOJKEBzg</string>
	</dict>
	<dict>
		<key>nl_NL</key>
		<string>kp4KLfXJ4HFckxZNo1N_PA</string>
	</dict>
	<dict>
		<key>pt_BR</key>
		<string>pj3t-cEk-8kgGTWals2-hw</string>
	</dict>
	<dict>
		<key>es_MX</key>
		<string>jqLJe9RafqTtxd1GT9cw4Q</string>
	</dict>
	<dict>
		<key>fr_FR</key>
		<string>s06oxj3eYK1M2fuEQb6Drg</string>
	</dict>
	<dict>
		<key>it_IT</key>
		<string>f1pheee-Mu3xl7r5zGlEgg</string>
	</dict>
</array>
</plist>
