<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>en_GB</key>
		<string>x_aY-cZIIsSIL-c0W90aYg</string>
	</dict>
	<dict>
		<key>sv_SE</key>
		<string>WdEAQx34D9zWjf-Je8dUpA</string>
	</dict>
	<dict>
		<key>da_DK</key>
		<string>VnssjRshu7onJDgRhRU0Cg</string>
	</dict>
	<dict>
		<key>nb_NO</key>
		<string>l7x87UqMHQqdXhd2JCLhgA</string>
	</dict>
	<dict>
		<key>fi_FI</key>
		<string>srZt_ccEZYtaFd1B6qLPIw</string>
	</dict>
	<dict>
		<key>es_ES</key>
		<string>whAtEMSMSsQrZCwaeJJKAA</string>
	</dict>
	<dict>
		<key>de_DE</key>
		<string>AP32pHnGw_JLa0YSsh5uow</string>
	</dict>
	<dict>
		<key>nl_NL</key>
		<string>jwUdAa_v4Dt4APqd7q3L2g</string>
	</dict>
	<dict>
		<key>pt_BR</key>
		<string>1H1Mnn5GKfa-OnyGC2m9og</string>
	</dict>
	<dict>
		<key>es_MX</key>
		<string>XRlcToP-txOkDiqTooxYhg</string>
	</dict>
	<dict>
		<key>fr_FR</key>
		<string>VzPRxDGF5ZhiOsh051_H7g</string>
	</dict>
	<dict>
		<key>it_IT</key>
		<string>AT4Ra3b6WGxiiATTuWiN7Q</string>
	</dict>
</array>
</plist>
