<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>da_DK</key>
		<string>K3UTmacOba_AKRcFQMZCCA</string>
	</dict>
	<dict>
		<key>de_DE</key>
		<string>oW03b4AIrY-91blMYcPYcQ</string>
	</dict>
	<dict>
		<key>en_GB</key>
		<string>kJphpNdNaf8SrITNu0S13A</string>
	</dict>
	<dict>
		<key>en_US</key>
		<string></string>
	</dict>
	<dict>
		<key>es_ES</key>
		<string>ZRimNNLXln2NcFIAxK6SeQ</string>
	</dict>
	<dict>
		<key>es_MX</key>
		<string>xFa27pykzzQ353pCFn_wIw</string>
	</dict>
	<dict>
		<key>es_US</key>
		<string></string>
	</dict>
	<dict>
		<key>fi_FI</key>
		<string>ZwNfktw5ALZ41HN3N2FmwQ</string>
	</dict>
	<dict>
		<key>fr_FR</key>
		<string>oY4WZd-OKV6q9Sh609ykKQ</string>
	</dict>
	<dict>
		<key>it_IT</key>
		<string>_XwzsrHJposIGhiPX6pQTw</string>
	</dict>
	<dict>
		<key>nb_NO</key>
		<string>f2OKNbfYpcE7gmrK35J61A</string>
	</dict>
	<dict>
		<key>nl_NL</key>
		<string>B5Bw7-robWVUqeBhwLBSOQ</string>
	</dict>
	<dict>
		<key>pt_BR</key>
		<string>vSgPd4N5w6HVEypCcevdFg</string>
	</dict>
	<dict>
		<key>sv_FI</key>
		<string></string>
	</dict>
	<dict>
		<key>sv_SE</key>
		<string>mPmiAmD8iiuLUh7eq08peA</string>
	</dict>
</array>
</plist>
